@import "mixins";
@import "variables";
@import "detailView";
@import "mainMenu";
@import "loading";

* {
  margin: 0;
  padding: 0;
}

#app {
  padding: 1rem;

  @media screen and (min-width: 700px) {
    width: 400px;
    margin: 0 auto;
  }
}
